﻿@model LgsKocu.Web.Database.Cevap

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <h4>Cevap Detay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Icerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Icerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gorsel)
        </dt>

        <dd>
            <img src="@Model.Gorsel" class="img-fluid" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Durum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Durum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soru.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soru.Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uye.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uye.Ad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Güncelle", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Sil", "Delete", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Geri Dön", "Index", null, new { @class = "btn btn-danger" })
</p>
