﻿@model IEnumerable<LgsKocu.Web.Database.Konu>

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<p>
    @Html.ActionLink("Yeni Konu Ekle", "Create", null, new { @class = "btn btn-primary btn-block" })
</p>
<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ders.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sinif.Ad)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ders.Ad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sinif.Ad)
                </td>
                <td>
                    @Html.ActionLink("Güncelle", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("İncele", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Sil", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    </div>