﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/Assets/Theme/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/Assets/Theme/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/Theme/assets/animation/animate.css">
    <link rel="stylesheet" href="~/Assets/Theme/assets/font-size/css/rvfs.css">
    <link rel="stylesheet" href="~/Assets/Theme/assets/niceselectpicker/nice-select.css">
    <link rel="stylesheet" href="~/Assets/Theme/assets/mcustomscrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="~/Assets/Theme/css/style.css">
    <link rel="stylesheet" href="~/Assets/Theme/css/responsive.css">
    <link href="~/Assets/Theme/assets/font-awesome/fontawasome.css" rel="stylesheet" />
    <link href="~/Assets/Theme/css/extra.css" rel="stylesheet" />
    <link href="~/Assets/Theme/css/responsive2.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <title>@ViewBag.Title</title>
</head>

<body data-scroll-animation="true" class="doc">
    <div class="body_wrapper">
        <nav class="navbar navbar-expand-lg menu_two" id="sticky">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="~/Assets/Theme/img/logo.png" />
                </a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="menu_toggle">
                        <span class="hamburger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                        <span class="hamburger-cross">
                            <span></span>
                            <span></span>
                        </span>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav menu dk_menu ml-auto">
                        <li class="nav-item dropdown submenu">
                            <a href="/sekizinci-sinif" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">8. Sınıf</a>
                            <i class="arrow_carrot-down_alt2 mobile_dropdown_icon" aria-hidden="true"
                               data-toggle="dropdown"></i>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="/sekizinci-sinif-turkce" class="nav-link">Türkçe</a></li>
                                <li class="nav-item"><a href="/sekizinci-sinif-matematik" class="nav-link">Matematik</a></li>
                                <li class="nav-item"><a href="/sekizinci-sinif-fen-bilimleri" class="nav-link">Fen Bilimleri</a></li>
                                <li class="nav-item"><a href="/sekizinci-sinif-tc-inkilap-tarihi" class="nav-link">T.C. İnkılap Tarihi</a></li>
                                <li class="nav-item"><a href="/sekizinci-sinif-din-kulturu" class="nav-link">Din Kültürü</a></li>
                                <li class="nav-item"><a href="/sekizinci-sinif-yabanci-dil" class="nav-link">Yabancı Dil</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown submenu">
                            <a href="/yedinci-sinif" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">7. Sınıf</a>
                            <i class="arrow_carrot-down_alt2 mobile_dropdown_icon" aria-hidden="true"
                               data-toggle="dropdown"></i>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="/yedinci-sinif-turkce" class="nav-link">Türkçe</a></li>
                                <li class="nav-item"><a href="/yedinci-sinif-matematik" class="nav-link">Matematik</a></li>
                                <li class="nav-item"><a href="/yedinci-sinif-fen-bilimleri" class="nav-link">Fen Bilimleri</a></li>
                                <li class="nav-item"><a href="/yedinci-sinif-sosyal-bilgiler" class="nav-link">Sosyal Bilgiler</a></li>
                                <li class="nav-item"><a href="/yedinci-sinif-din-kulturu" class="nav-link">Din Kültürü</a></li>
                                <li class="nav-item"><a href="/yedinci-sinif-yabanci-dil" class="nav-link">Yabancı Dil</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown submenu">
                            <a href="/altinci-sinif" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">6. Sınıf</a>
                            <i class="arrow_carrot-down_alt2 mobile_dropdown_icon" aria-hidden="true"
                               data-toggle="dropdown"></i>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="/altinci-sinif-turkce" class="nav-link">Türkçe</a></li>
                                <li class="nav-item"><a href="/altinci-sinif-matematik" class="nav-link">Matematik</a></li>
                                <li class="nav-item"><a href="/altinci-sinif-fen-bilimleri" class="nav-link">Fen Bilimleri</a></li>
                                <li class="nav-item"><a href="/altinci-sinif-sosyal-bilgiler" class="nav-link">Sosyal Bilgiler</a></li>
                                <li class="nav-item"><a href="/altinci-sinif-din-kulturu" class="nav-link">Din Kültürü</a></li>
                                <li class="nav-item"><a href="/altinci-sinif-yabanci-dil" class="nav-link">Yabancı Dil</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown submenu">
                            <a href="/besinci-sinif" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">5. Sınıf</a>
                            <i class="arrow_carrot-down_alt2 mobile_dropdown_icon" aria-hidden="true"
                               data-toggle="dropdown"></i>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="/besinci-sinif-turkce" class="nav-link">Türkçe</a></li>
                                <li class="nav-item"><a href="/besinci-sinif-matematik" class="nav-link">Matematik</a></li>
                                <li class="nav-item"><a href="/besinci-sinif-fen-bilimleri" class="nav-link">Fen Bilimleri</a></li>
                                <li class="nav-item"><a href="/besinci-sinif-sosyal-bilgiler" class="nav-link">Sosyal Bilgiler</a></li>
                                <li class="nav-item"><a href="/besinci-sinif-din-kulturu" class="nav-link">Din Kültürü</a></li>
                                <li class="nav-item"><a href="/besinci-sinif-yabanci-dil" class="nav-link">Yabancı Dil</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="/sorucevap" class="nav-link" role="button">Soru-Cevap</a>
                        </li>
                        <li class="nav-item">
                            <a href="/blog" class="nav-link" role="button">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="/cekilis" class="nav-link" role="button">Çekiliş</a>
                        </li>
                    </ul>
                    @{
                        if (Session["UyeId"] == null)
                        {
                            <a class="nav_btn" href="/uye-ol" id="uyeOlLink"><i class="fas fa-user-plus"></i> Ücretsiz Üye Ol</a>
                            <a class="nav_btn" href="/giris-yap" id="girisYapLink"><i class="fas fa-user-graduate"></i> Üye Girişi</a>
                        }
                        else
                        {
                            <a class="nav_btn" href="javascript:void(0)" id="uyeOlLink"><i class="fas fa-user-graduate"></i> @Session["uyeAd"].ToString() @Session["uyeSoyad"].ToString() </a>
                            <a class="nav_btn" href="/guvenli-cikis" id="girisYapLink"><i class="fas fa-user-shield"></i> Güvenli Çıkış</a>
                        }
                    }

                </div>
            </div>
        </nav>
        @RenderBody()
        <footer class="footer_area footer_p_top f_bg_color">
            <img class="p_absolute leaf" src="~/Assets/Theme/img/v.svg" alt="">
            <img class="p_absolute f_man wow fadeInLeft" data-wow-delay="0.4s" src="~/Assets/Theme/img/home_two/f_man.png" alt="">
            <img class="p_absolute f_cloud" src="~/Assets/Theme/img/home_two/cloud.png" alt="">
            <img class="p_absolute f_email" src="~/Assets/Theme/img/home_two/email-icon.png" alt="">
            <img class="p_absolute f_email_two" src="~/Assets/Theme/img/home_two/email-icon_two.png" alt="">
            <img class="p_absolute f_man_two wow fadeInLeft" data-wow-delay="0.2s" src="~/Assets/Theme/img/home_two/man.png" alt="">
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="f_widget subscribe_widget wow fadeInUp">
                                <h4 class="c_head">Yeni içeriklerden haberdar olun</h4>
                                <form action="#" class="footer_subscribe_form">
                                    <input type="email" placeholder="Email" class="form-control">
                                    <button type="submit" class="s_btn">Katıl</button>
                                </form>
                                <ul class="list-unstyled f_social_icon">
                                    <li><a href="http://www.facebook.com/sharer.php?u=http://lgskocu.com" target="_blank"><i class="fab fa-facebook-f footerSocialIcon"></i></a></li>
                                    <li><a href="https://twitter.com/share?url=http://lgskocu.com&amp;text=LGS%20KOÇU%20en%20iyi%20lgs%20sitesi&amp;hashtags=lgskocu" target="_blank"><i class="fab fa-twitter footerSocialIcon"></i></a></li>
                                    <li><a href="https://www.instagram.com/?url=http://lgskocu.com" target="_blank"><i class="fab fa-instagram footerSocialIcon"></i></a></li>
                                    <li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://lgskocu.com" target="_blank"><i class="fab fa-linkedin-in footerSocialIcon"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="f_widget link_widget pl_30 wow fadeInUp" data-wow-delay="0.2s">
                                <h3 class="f_title">Hızlı Menü</h3>
                                <ul class="list-unstyled link_list">
                                    <li><a href="/">Anasayfa</a></li>
                                    <li><a href="/siniflar">Sınıflar</a></li>
                                    <li><a href="/sorucevap">Soru & Cevap</a></li>
                                    <li><a href="/cekilis">Çekiliş </a></li>
                                    <li><a href="/hakkimizda">Hakkımızda</a></li>
                                    <li><a href="/gizlilik-sozlesmesi">Gizlilik Sözleşmesi</a></li>
                                    <li><a href="/iletisim">İletişim</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6">
                            <div class="f_widget link_widget wow fadeInUp" data-wow-delay="0.4s">
                                <h3 class="f_title">Blog</h3>
                                <ul class="list-unstyled link_list">
                                    <li><a href="/blog/yazi-1">Yazı 1</a></li>
                                    <li><a href="/blog/yazi-2">Yazı 2</a></li>
                                    <li><a href="/blog/yazi-3">Yazı 3</a></li>
                                    <li><a href="/blog/yazi-4">Yazı 4</a></li>
                                    <li><a href="/blog/yazi-5">Yazı 5</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="f_widget link_widget pl_70 wow fadeInUp" data-wow-delay="0.6s">
                                <h3 class="f_title">Çekiliş</h3>
                                <ul class="list-unstyled link_list">
                                    <li><a href="/cekilis-1">Çekiliş 1</a></li>
                                    <li><a href="/cekilis-2">Çekiliş 2</a></li>
                                    <li><a href="doc-archive.html">Çekiliş 3</a></li>
                                    <li><a href="changelog.html">Çekiliş 4</a></li>
                                    <li><a href="Onepage.html">Çekiliş 5</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="border_bottom"></div>
                </div>
            </div>
            <div class="footer_bottom text-center">
                <div class="container">
                    <p>© @DateTime.Now.Year Her Hakkı Saklıdır  <a href="#">Lgs Koçu</a></p>
                </div>
            </div>
        </footer>
    </div>
    <a id="back-to-top" title="Yukarı Çık"><i class="fas fa-arrow-up topIcon"></i></a>
    <script src="~/Assets/Theme/js/jquery-3.2.1.min.js"></script>
    <script src="~/Assets/Theme/assets/bootstrap/js/popper.min.js"></script>
    <script src="~/Assets/Theme/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/Theme/assets/bootstrap/js/bootstrap-select.min.js"></script>
    <script src="~/Assets/Theme/assets/font-size/js/rv-jquery-fontsize-2.0.3.js"></script>
    <script src="~/Assets/Theme/js/anchor.js"></script>
    <script src="~/Assets/Theme/assets/niceselectpicker/jquery.nice-select.min.js"></script>
    <script src="~/Assets/Theme/assets/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Assets/Theme/js/parallaxie.js"></script>
    <script src="~/Assets/Theme/js/TweenMax.min.js"></script>
    <script src="~/Assets/Theme/js/jquery.wavify.js"></script>
    <script src="~/Assets/Theme/assets/wow/wow.min.js"></script>
    <script src="~/Assets/Theme/assets/font-awesome/fontawasome.js"></script>
    <script src="~/Assets/Theme/js/main.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>