﻿@model LgsKocu.Web.Database.CekilisKatilimci

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <h4>Katılımcı Sil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KatilmaTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KatilmaTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IpAdres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IpAdres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cekilis.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cekilis.Ad)
        </dd>

        <dt>
            Üye
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uye.Ad) @Html.DisplayFor(model => model.Uye.Soyad)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-primary"/>
            @Html.ActionLink("Geri Dön", "Index", null, new {@class = "btn btn-danger"})
        </div>
    }
</div>
