﻿@model LgsKocu.Web.Database.CekilisKatilimci

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Katılımcı Detay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KatilmaTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KatilmaTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IpAdres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IpAdres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cekilis.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cekilis.Ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uye.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uye.Ad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sil", "Delete", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Geri Dön", "Index", null, new { @class = "btn btn-danger" })
</p>
