﻿@model List<LgsKocu.Web.Database.Cekilis>
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section styles {
       
}

@section scripts {
       
}

@*<section class="breadcrumb_area">
            <img class="p_absolute bl_left" src="~/Assets/Theme/img/v.svg" alt="">
            <img class="p_absolute bl_right" src="~/Assets/Theme/img/home_one/b_leaf.svg" alt="">
            <img class="p_absolute star" src="~/Assets/Theme/img/home_one/banner_bg.png" alt="">
            <img class="p_absolute wave_shap_one" src="~/Assets/Theme/img/blog-classic/shap_01.png" alt="">
            <img class="p_absolute wave_shap_two" src="~/Assets/Theme/img/blog-classic/shap_02.png" alt="">
            <img class="p_absolute one wow fadeInRight" src="~/Assets/Theme/img/home_one/b_man_two.png" alt="">
            <img class="p_absolute two wow fadeInUp" data-wow-delay="0.2s" src="~/Assets/Theme/img/home_one/flower.png" alt="">
            <div class="container">
                <div class="banner_search_form">
                    <input type="search" class="form-control" placeholder="Çekiş aramak için yazınız....">
                </div>
            </div>
        </section>*@


        <section class="page_breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Anasayfa</a> >> Çekiliş Listesi</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-sm-5">
                        <a href="~/Assets/Theme/#" class="date"><i class="icon_clock_alt"></i>Son Güncelleme : @DateTime.Now.ToString("dd/MM/yyyy")</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="doc_blog_grid_area">
            <div class="container">
                
                <div class="col-lg-12 col-sm-12 solReklam" style="position: fixed; left: 151px; top: 100px;">
                    <a href="https://www.kitapsec.com/Products/LGS-8Sinif-SES-Serisi-Fen-Bilimleri-Soru-Bankasi-Benim-Hocam-Yayinlari-536805.html?src=lgs-hazirlik-cekilis" target="_blank"><img class="img-fluid" src="~/Assets/Files/Reklam/benim-hocam-emin-durancigil-dikey.jpeg" /></a>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12" style="margin-top: 50px; margin-bottom: 25px; text-align: center;">
                                <a href="https://www.kitapsec.com/Products/LGS-8Sinif-SES-Serisi-Fen-Bilimleri-Soru-Bankasi-Benim-Hocam-Yayinlari-536805.html?src=lgs-hazirlik-cekilis" target="_blank"><img class="img-fluid" src="~/Assets/Files/Reklam/benim-hocam-emin-durancigil-yatay.jpeg" /></a>
                            </div>
                            @foreach (var item in Model)
                            {
                                <div class="col-lg-4 col-sm-4">
                                    <div class="blog_grid_post wow fadeInUp">
                                        <img src="@item.Gorsel" alt="@item.Ad" style="max-height: 220px;">
                                        <div class="grid_post_content">
                                            <div class="post_tag">
                                                <a href="@item.FacebookLink" class="date"><i class="fab fa-facebook"></i></a>
                                                <a href="@item.InstagramLink" class="date"><i class="fab fa-instagram-square"></i></a>
                                                @if (item.SinifId != null)
                                                {
                                                    <a href="javascript:void(0);">@item.Sinif.Ad</a>

                                                    if (item.DersId != null)
                                                    {
                                                        <a class="cat-woocommerce" href="javascript:void(0);">@item.Ders.Ad</a>
                                                    }
                                                }
                                                else
                                                {
                                                    <a href="javascript:void(0);">Genel</a>
                                                }

                                            </div>
                                            <a href="/cekilis/@item.Seo">
                                                <h4 class="b_title">@item.Ad</h4>
                                            </a>
                                            <p>@item.Ozet</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 sagReklam" style="position: fixed; right: -1551px; top: 100px;">
                    <a href="https://www.kitapsec.com/Products/LGS-8Sinif-SES-Serisi-Fen-Bilimleri-Soru-Bankasi-Benim-Hocam-Yayinlari-536805.html?src=lgs-hazirlik-cekilis" target="_blank"><img class="img-fluid" src="~/Assets/Files/Reklam/benim-hocam-emin-durancigil-dikey.jpeg" /></a>
                </div>
            </div>
        </section>
