﻿.footerSocialIcon{font-size:25px;margin:8px}.topIcon{font-size:40px;padding-top:10px;color:#fff}#sticky{top:0!important}.menu_two div,.menu_two section{margin-top:0}#indexSocialTitle{margin-top:20px}#indexSocial{padding-top:10px}.menu>.nav-item .nav-item{margin-left:30px}#uyeOlLink{margin-left:40px}#girisYapLink{margin-left:20px}#result{color:red;text-align:center;font-size:20px}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #10b3d6;
    border-color: #10b3d6;
}

.list-group-item.active > a {
        color: white;
    }

.list-group-item > a{
    color: #5b5b5b;
}

.communities {
    padding: 35px 0 20px;
}

.sec_pad {
    padding: 0px 0;
}