﻿/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      .solReklam{ display: none;}
    .sagReklam{ display: none;}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
       .solReklam{ display: none;}
    .sagReklam{ display: none;}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
       .solReklam{ display: none;}
    .sagReklam{ display: none;}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        .solReklam{ display: none;}
    .sagReklam{ display: none;}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
        .solReklam{ display: none;}
    .sagReklam{ display: none;}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
        .solReklam{ display: none;}
    .sagReklam{ display: none;}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    .solReklam{ display: none;}
    .sagReklam{ display: none;}
}

/* Desktops and laptops ----------- */
@media only screen and (max-width : 1440px) {
    .solReklam {display: none;}
    .sagReklam {display: none;}
    .menu > .nav-item + .nav-item {margin-left: 35px;}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1441px) {
    .solReklam{ display: block;}
    .sagReklam{ display: block;}
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}