﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section styles {
    <style>
        .doc_banner_area_two {
            height: 460px;
        }
    </style>
}


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Assets/Files/Carousel/c1.jpg" class="img-fluid" style="width: 100%;" />
            <div class="carousel-caption d-none d-md-block">
                <h5>...</h5>
                <p>...</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Assets/Files/Carousel/c1.jpg" class="img-fluid" style="width: 100%;" />
            <div class="carousel-caption d-none d-md-block">
                <h5>...</h5>
                <p>...</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Assets/Files/Carousel/c1.jpg" class="img-fluid" style="width: 100%;" />
            <div class="carousel-caption d-none d-md-block">
                <h5>...</h5>
                <p>...</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<section class="communities">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="community-box">
                    <div class="icon-container">
                        <img src="~/Assets/Theme/img/home_support/com_1.png" alt="community">
                    </div>
                    <div class="community-content">
                        <h3 class="com-title">
                            Dersleri ve Dosyaları <br />takip et
                        </h3>
                        <a href="/siniflar" class="details-link">Tüm Dersleri Gör <i class="arrow_right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="community-box">
                    <div class="icon-container">
                        <img src="~/Assets/Theme/img/home_support/com_2.png" alt="community">
                    </div>
                    <div class="community-content">
                        <h3 class="com-title">
                            Bil Kazan <br />ile Ödüller Kazan
                        </h3>
                        <a href="#" class="details-link">Günün Sorusunu Gör <i class="arrow_right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="community-box" >
                    <div class="icon-container">
                        <img src="~/Assets/Theme/img/home_support/com_3.png" alt="community">
                    </div>
                    <div class="community-content">
                        <h3 class="com-title">
                            Çekilişlere katıl<br/>ve ödülleri kazan
                        </h3>
                        <a href="cekilis" class="details-link">Çekilişleri Gör <i class="arrow_right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="doc_categories_guide_area sec_pad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item active"><a href="/sekizinci-sinif">8. Sınıf</a></li>
                    <li class="list-group-item"><a href="/sekizinci-sinif-turkce">Türkçe</a></li>
                    <li class="list-group-item"><a href="/sekizinci-sinif-matematik">Matematik</a></li>
                    <li class="list-group-item"><a href="/sekizinci-sinif-fen-bilimleri">Fen Bilimleri</a></li>
                    <li class="list-group-item"><a href="/sekizinci-sinif-tc-inkilap-tarihi">T.C. İnkılap Tarihi</a></li>
                    <li class="list-group-item"><a href="/sekizinci-sinif-din-kulturu">Din Kültürü</a></li>
                    <li class="list-group-item"><a href="/sekizinci-sinif-yabanci-dil">Yabancı Dil</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item active"><a href="/yedinci-sinif">7. Sınıf</a></li>
                    <li class="list-group-item"><a href="/yedinci-sinif-turkce">Türkçe</a></li>
                    <li class="list-group-item"><a href="/yedinci-sinif-matematik">Matematik</a></li>
                    <li class="list-group-item"><a href="/yedinci-sinif-fen-bilimleri">Fen Bilimleri</a></li>
                    <li class="list-group-item"><a href="/yedinci-sinif-sosyal-bilgiler">Sosyal Bilgiler</a></li>
                    <li class="list-group-item"><a href="/yedinci-sinif-din-kulturu">Din Kültürü</a></li>
                    <li class="list-group-item"><a href="/yedinci-sinif-yabanci-dil">Yabancı Dil</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item active"><a href="/altinci-sinif">6. Sınıf</a></li>
                    <li class="list-group-item"><a href="/altinci-sinif-turkce">Türkçe</a></li>
                    <li class="list-group-item"><a href="/altinci-sinif-matematik">Matematik</a></li>
                    <li class="list-group-item"><a href="/altinci-sinif-fen-bilimleri">Fen Bilimleri</a></li>
                    <li class="list-group-item"><a href="/altinci-sinif-sosyal-bilgiler">Sosyal Bilgiler</a></li>
                    <li class="list-group-item"><a href="/altinci-sinif-din-kulturu">Din Kültürü</a></li>
                    <li class="list-group-item"><a href="/altinci-sinif-yabanci-dil">Yabancı Dil</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item active"><a href="/besinci-sinif">5. Sınıf</a></li>
                    <li class="list-group-item"><a href="/besinci-sinif-turkce">Türkçe</a></li>
                    <li class="list-group-item"><a href="/besinci-sinif-matematik">Matematik</a></li>
                    <li class="list-group-item"><a href="/besinci-sinif-fen-bilimleri">Fen Bilimleri</a></li>
                    <li class="list-group-item"><a href="/besinci-sinif-sosyal-bilgiler">Sosyal Bilgiler</a></li>
                    <li class="list-group-item"><a href="/besinci-sinif-din-kulturu">Din Kültürü</a></li>
                    <li class="list-group-item"><a href="/besinci-sinif-yabanci-dil">Yabancı Dil</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="doc_categories_guide_area sec_pad" style="margin-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-group">
                    <li class="list-group-item active"><a href="javascript:void(0);">Popüler Konular</a></li>
                    <li class="list-group-item"><a href="/sekizinci-sinif-turkce">Türkçe</a></li>
                    <li class="list-group-item"><a href="/sekizinci-sinif-matematik">Matematik</a></li>
                    <li class="list-group-item"><a href="/sekizinci-sinif-fen-bilimleri">Fen Bilimleri</a></li>
                    <li class="list-group-item"><a href="/sekizinci-sinif-tc-inkilap-tarihi">T.C. İnkılap Tarihi</a></li>
                    <li class="list-group-item"><a href="/sekizinci-sinif-din-kulturu">Din Kültürü</a></li>
                    <li class="list-group-item"><a href="/sekizinci-sinif-yabanci-dil">Yabancı Dil</a></li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="list-group">
                    <li class="list-group-item active"><a href="javascript:void(0);">Popüler Dosyalar</a></li>
                    <li class="list-group-item"><a href="/yedinci-sinif-turkce">Türkçe</a></li>
                    <li class="list-group-item"><a href="/yedinci-sinif-matematik">Matematik</a></li>
                    <li class="list-group-item"><a href="/yedinci-sinif-fen-bilimleri">Fen Bilimleri</a></li>
                    <li class="list-group-item"><a href="/yedinci-sinif-sosyal-bilgiler">Sosyal Bilgiler</a></li>
                    <li class="list-group-item"><a href="/yedinci-sinif-din-kulturu">Din Kültürü</a></li>
                    <li class="list-group-item"><a href="/yedinci-sinif-yabanci-dil">Yabancı Dil</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

@section scripts {

}