﻿
@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section styles {
       
}

@section scripts {
       
}

<div class="sign_inner signup_inner" style="margin-top: 130px; margin-bottom: 50px;">
        <div class="text-center">
            <h3>Güvenli çıkış yaptınız</h3>
            <p>Tekrar giriş yapmak için <a href="signup.html">tıklayınız</a></p>
            <p>Hala hesabınız yok mu ? Ücretsiz üye olmak için <a href="signup.html">tıklayınız</a></p>
        </div>
    </div>