﻿
@{
    ViewBag.Title = "PrivacyContact";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section styles {
       
}

@section scripts {
       
}

<section class="typography_area">
    <div class="container">
        <div class="typography_underline">
            <h4 class="h4 medium">Gizlilik Sözleşmesi</h4>
            <p>Oxford easy peasy he nicked it A bit of how's your father hotpot excuse my French burke gutted mate, argy-bargy in my flat tosser the BBC bevvy get stuffed mate. The little rotter it's all gone to pot ruddy cracking goal nancy boy bits and bobs tomfoolery spiffing good time zonked bum bag baking cakes butty, blower you mug crikey Queen's English cor blimey guvnor loo bite your arm off amongst boot gosh sloshed say, mufty tinkety tonk old fruit faff about cheers young delinquent pukka matie boy off his nut what a plonker pardon you.</p>
        </div>
    </div>
</section>