﻿@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section styles {

}

<div class="sign_inner signup_inner" style="margin-top: 130px; margin-bottom: 50px;">
    <div class="text-center">
        <h3>Üyelik Formu</h3>
        <p>Hesabınız var mı ? Giriş yapmak için <a href="/giris">tıklayınız</a></p>
    </div>
    <div class="row login_form">
        <div class="col-lg-12 form-group" id="result"></div>
        <div class="col-lg-12 form-group">
            <div class="small_text">Adınız : </div>
            <input type="email" class="form-control" id="su_ad" name="su_ad" placeholder="Adınız..." autocomplete="off">
        </div>
        <div class="col-lg-12 form-group">
            <div class="small_text">Soyadınız : </div>
            <input type="email" class="form-control" id="su_soyad" name="su_soyad" placeholder="Soyadınız..." autocomplete="off">
        </div>
        <div class="col-lg-12 form-group">
            <div class="small_text">Mail Adresiniz : </div>
            <input type="email" class="form-control" id="su_email" name="su_email" placeholder="Mail Adresiniz..." autocomplete="off">
        </div>
        <div class="col-lg-12 form-group">
            <div class="small_text">Şifreniz : </div>
            <div class="confirm_password">
                <input type="password" class="form-control" id="su_password" name="su_password" placeholder="Şifreniz..." autocomplete="off">
            </div>
        </div>
        <div class="col-lg-12 form-group">
            <input type="checkbox" id="cekilislereKatilmakIstiyorum" checked="checked"/> Çekilişlere katılmak istiyorum.
            <p style="color: red;"><b>*</b> Çekilişlere katılım için için telefon ve adres bilgileri zorunludur.</p>
        </div>
        <div class="col-lg-12 form-group" id="telArea" style="display: block;">
            <div class="small_text">Telefon Numaranız : </div>
            <div class="confirm_password">
                <input type="text" class="form-control" id="su_telefon" name="su_telefon" placeholder="Telefon Numaranız..." autocomplete="off">
            </div>
        </div>
        <div class="col-lg-12 form-group" id="adresArea" style="display: block;">
            <div class="small_text">Adresimiz : </div>
            <div class="confirm_password">
                <input type="text" class="form-control" id="su_adres" name="su_adres" placeholder="Şifreniz..." autocomplete="off">
            </div>
        </div>
        <div class="col-lg-12 text-center">
            <a href="#" id="signupButton" class="btn action_btn thm_btn">Ücretsiz Üye Ol</a>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $('#cekilislereKatilmakIstiyorum').on('change', function(){
                if(this.checked)
                {
                    $("#telArea").show();
                    $("#adresArea").show();
                } else {
                    $("#telArea").hide();
                    $("#adresArea").hide();
                }
            })



            $("#signupButton").click(function(e) {
                e.preventDefault();

                if ($("#cekilislereKatilmakIstiyorum").is(":checked")) {
                    var telVal = $("#su_telefon").val();
                    var adresVal = $("#su_adres").val();

                    if (telVal.length === 0) {
                        $("#su_telefon").css("border-color", "red");
                    } else {
                        $("#su_telefon").css("border-color", "#e3e8ea");
                    }

                    if (adresVal.length === 0) {
                        $("#su_adres").css("border-color", "red");
                    } else {
                        $("#su_adres").css("border-color", "#e3e8ea");
                    }

                    if (telVal.length === 0 || adresVal.length === 0) {

                        if (telVal.length === 0) {
                            $("#su_telefon").css("border-color", "red");
                        }else {
                            $("#su_telefon").css("border-color", "#e3e8ea");
                        }

                        if (adresVal.length === 0) {
                            $("#su_adres").css("border-color", "red");
                        }else {
                            $("#su_adres").css("border-color", "#e3e8ea");
                        }

                        $('#result').html("Çekilişe katılmak istediğiniz için adres ve telefon alanlarını doldurmalısınız.");
                        return false;
                    }
                }

                var signupmodel = {
                    suad: $("#su_ad").val(),
                    susoyad: $("#su_soyad").val(),
                    suemail: $("#su_email").val(),
                    susifre: $("#su_password").val(),
                    sutelefon: $("#su_telefon").val(),
                    suadres: $("#su_adres").val()
                }

                $.ajax({
                    url: '/ajax/post-uye-ol',
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(signupmodel),
                    beforeSend: function() {
                        $("#signupButton").attr("disabled", "disabled");
                        $("#voltaic_holder").css("background", "red");
                        $("#signupButton").text("Bilgileriniz kontrol ediliyor...");
                    },
                    success: function(data) {
                        $('#result').html(data.msg);

                        if (data.result === "ok") {
                            try {
                                document.location.href = window.location.search.substring(11);
                            } catch(e) {
                                document.location.href = "/";
                            } 
                        }
                    },
                    error: function(xhr) {
                        $("#signupButton").removeAttr("disabled");
                        $("#signupButton").removeAttr("style");
                    },
                    complete: function() {
                        $("#signupButton").removeAttr("disabled");
                        $("#signupButton").removeAttr("style");
                    }
                });

                $(".action_btn").css("color", "#fff");
                $("#signupButton").text("Ücretsiz Üye Ol");
            });
        });
    </script>
}