﻿
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section styles {

    <link href="~/Assets/Theme/css/sinif.css" rel="stylesheet" />
}

@section scripts {

}

<section class="doc_banner_area_two">
    <div class="b_plus one" data-parallax='{"x": 250, "y": 160, "rotateZ":500}'><img src="~/Assets/Theme/img/home_two/plus.png" alt=""></div>
    <div class="b_plus two" data-parallax='{"x": 250, "y": 260, "rotateZ":500}'><img src="~/Assets/Theme/img/home_two/plus_one.png" alt=""></div>
    <div class="b_round r_one" data-parallax='{"x": 0, "y": 100, "rotateZ":0}'></div>
    <div class="b_round r_two" data-parallax='{"x": -10, "y": 80, "rotateY":0}'></div>
    <div class="b_round r_three"></div>
    <div class="b_round r_four"></div>
    <img class="p_absolute building_img" src="~/Assets/Theme/img/home_two/building.png" alt="">
    <img class="p_absolute table_img wow fadeInLeft" src="~/Assets/Theme/img/home_two/table.svg" alt="">
    <img class="p_absolute flower wow fadeInUp" data-wow-delay="0.6s" src="~/Assets/Theme/img/home_two/flower.png" alt="">
    <img class="p_absolute bord wow fadeInRight" data-wow-delay="0.4s" src="~/Assets/Theme/img/home_two/bord.png" alt="">
    <img class="p_absolute girl wow fadeInRight" data-wow-delay="0.8s" src="~/Assets/Theme/img/home_two/girl.png" alt="">
    <div class="container">
        <div class="doc_banner_text_two text-center">
            <h2>7. Sınıf Sayfası</h2>
            <p>Dersler, konuları ve dosyaları bu sayfadan takip edebilirsiniz.</p>
        </div>
    </div>
</section>
<section class="doc_categories_guide_area sec_pad">
    <img class="shap wow fadeInUp" src="~/Assets/Theme/img/home_one/dow_bg_two.png" alt="">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="categories_guide_item wow fadeInUp" data-wow-delay="0.4s">
                    <img src="~/Assets/Theme/img/home_two/memo.png" alt="">
                    <div class="doc_tag_title">
                        <h4>Dersler</h4>
                    </div>
                    <ul class="list-unstyled tag_list">
                        @foreach (var item in Model.Ders)
                        {
                            <li><a href="/yedinci-sinif/ders/@item.Seo"><i class="fas fa-graduation-cap"></i> @item.Ad</a></li>
                        }
                    </ul>
                    <a href="#dersler" class="doc_border_btn">Tümü<i class="arrow_right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="categories_guide_item wow fadeInUp">
                    <img src="~/Assets/Theme/img/home_two/folder.png" alt="">
                    <div class="doc_tag_title">
                        <h4>Dosyalar</h4>
                    </div>
                    <ul class="list-unstyled tag_list">
                        @foreach (var item in Model.Dosya.Take(6))
                        {
                            <li><a href="/download/dosya/@item.Id"><i class="fas fa-download"></i> @item.Ad</a></li>
                        }
                    </ul>
                    <a href="#dosyalar" class="doc_border_btn">Tümü<i class="arrow_right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="categories_guide_item wow fadeInUp" data-wow-delay="0.6s">
                    <img src="~/Assets/Theme/img/home_two/share.png" alt="">
                    <div class="doc_tag_title">
                        <h4>Yazılar</h4>
                    </div>
                    <ul class="list-unstyled tag_list">
                        @foreach (var item in ViewBag.Yazilar)
                        {
                            <li><a href="/yedinci-sinif/yazi/@item.Seo"><i class="fas fa-file-alt"></i> @item.Ad</a></li>
                        }
                    </ul>
                    <a href="#yazilar" class="doc_border_btn">Tümü<i class="arrow_right"></i></a>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12" id="dersler">
                <div class="dropcap_content">
                    <p><span class="r_dropcap">7.</span> Sınıf Dersleri</p>
                </div>
                <div class="steps-panel">
                    <ul class="ordered-list">
                        <li><a href="/yedinci-sinif/tum-dersler"><i class="fas fa-arrow-circle-right"></i> Tüm Dersler</a></li>
                        @foreach (var item in Model.Ders)
                        {
                            <li><a href="/yedinci-sinif/ders/@item.Seo"> @item.Ad</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12" id="dosyalar">
                <div class="dropcap_content">
                    <p><span class="r_dropcap">7.</span> Sınıf Dosyaları</p>
                </div>
                <div class="steps-panel">
                    <ul class="ordered-list">
                        <li><a href="/yedinci-sinif/tum-dosyalar"><i class="fas fa-arrow-circle-right"></i> Tüm Dosyalar</a></li>
                        @foreach (var item in Model.Dosya)
                        {
                            <li><a href="/download/dosya/@item.Id"> @item.Ad</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12" id="yazilar">
                <div class="dropcap_content">
                    <p><span class="r_dropcap">7.</span> Sınıf Yazıları</p>
                </div>
                <div class="steps-panel">
                    <li><a href="/yedinci-sinif/tum-yazilar"><i class="fas fa-arrow-circle-right"></i> Tüm Yazılar</a></li>
                    <ul class="ordered-list">
                        @foreach (var item in ViewBag.Yazilar)
                        {
                            <li><a href="/yedinci-sinif/yazi/@item.Seo"> @item.Ad</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>