﻿
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/Assets/Theme/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/Assets/Theme/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/Theme/assets/elagent-icon/style.css">
    <link rel="stylesheet" href="~/Assets/Theme/assets/animation/animate.css">
    <link rel="stylesheet" href="~/Assets/Theme/css/style.css">
    <link rel="stylesheet" href="~/Assets/Theme/css/responsive.css">
    <title>Docly</title>
    <link rel="stylesheet" href="~/Assets/Theme/scss/_button.scss">
</head>

<body data-scroll-animation="true">
    <div class="body_wrapper">
        <section class="error_area bg_color">
            <div class="error_dot one"></div>
            <div class="error_dot two"></div>
            <div class="error_dot three"></div>
            <div class="error_dot four"></div>
            <div class="container">
                <div class="error_content_two text-center">
                    <div class="error_img">
                        <img class="p_absolute error_shap" src="~/Assets/Theme/img/404_bg.png" alt="">
                        <div class="one wow clipInDown"><img class="img_one" src="~/Assets/Theme/img/404_two.png" alt=""></div>
                        <div class="two wow clipInDown"><img class="img_two" src="~/Assets/Theme/img/404_three.png" alt=""></div>
                        <div class="three wow clipInDown"><img class="img_three" src="~/Assets/Theme/img/404_one.png" alt=""></div>
                    </div>
                    <h2>Aradığınız sayfa bulunamadı.</h2>
                    <p>Sayfanın adı değişmiş veya kaldırılmış olabilir, anasayfa menüsünden istediğiniz sayfaya ulaşabilirsiniz...</p>
                    <a href="/" class="action_btn box_shadow_none"><i class="arrow_left"></i>Anasayfaya Geri Dön</a>
                </div>
            </div>
        </section>
    </div>
    <script src="~/Assets/Theme/js/jquery-3.2.1.min.js"></script>
<script src="~/Assets/Theme/assets/bootstrap/js/popper.min.js"></script>
    <script src="~/Assets/Theme/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/Theme/js/parallaxie.js"></script>
    <script src="~/Assets/Theme/js/TweenMax.min.js"></script>
    <script src="~/Assets/Theme/assets/wow/wow.min.js"></script>
    <script src="~/Assets/Theme/js/main.js"></script>
</body>
</html>